.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  
  h1, h2 {
    text-align: center;
 
  }
  
  .input-section {
    margin-top: 20px;
    padding: 25px;
    border: 1px solid rgb(75, 73, 73);
    background-color:linen;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 2rem;
   
  }
  
   td {
    border: 2px solid #a5a5a5;
    padding: 8px;
    text-align: left;
    background-color: azure;
   
  }
  th {
    border: 2px solid #8d8d8d;
    padding: 8px;
    text-align: left;
    background-color: rgb(80, 181, 221);
  }
  .result-section{
    margin-bottom: 3rem;
  }
