<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   

    <title>Simple Navbar with Dropdown</title>

</head>

<body>

    <div class="navbar">

        <a href="/">Home</a>

        <a href="/gallery">Gallery</a>

        <a href="/buy">Buy</a>
        <a href="/sell">Sell</a>

        <a href="/emi">EMI</a>
        

        <!-- <div class="dropdown">

            <button class="dropbtn">Services

                <i class="fa fa-caret-down"></i>

            </button>

            <div class="dropdown-content">

                <a href="#service1">Application Development</a>

                <a href="#service2">Android App Development</a>

                <a href="#service3">Full Stack Web Development</a>

            </div> 

        </div>-->

        <a href="/contact">Contact</a>
        

        <!-- <button (click)="LDMode()">Mode</button> -->

    </div>

   

</body>

</html>
