
.background{

    background-color: rgb(226, 225, 225);

    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
.image{
    width: 50%;
    height: 60%;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    padding:10px 15px;
    border-radius: 2rem;
    box-sizing: border-box;
    border: 2px solid rgb(173, 175, 175);
  position: fixed;
  margin-top: 1rem;
    
   
    
}

.image:hover {
    transform: scaleX(-1);
  }
h1{
    font-style: normal;
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: end;
    color:black;
    margin-right: 6rem;
    font-weight: 600;
   font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    

}
h2{
    font-style: normal;

    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: end;
    color:black;
    margin-right: 10rem;
    font-weight: 600;
   font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    

}
p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    color:rgb(63, 62, 62);
    margin-bottom: 20px;
text-align: center;
margin-left: 45rem;
   margin-right: 3rem;
   margin-top: 2rem;
   font-weight: 400;
  }

.More{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 22px;
    padding: 6px;
    color: azure;
    background-color:dimgrey;
   font-family:'Times New Roman', Times, serif;
   font-weight: 800;
    border-radius: 2rem;
    margin-left: 40rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
    

}
.More:hover{
    background-color:lightslategray;
}
.welcomeleft{
    float: right;
    margin-top: 8rem;
    margin-right: 2rem;
    border: none;
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
        height: auto;
        position: static;
        margin-top: 4rem;
    }

    h1,
    h2,
    p,
    .More,
    .welcomeleft {
        /* Adjust styles for smaller screens */
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
       
    }
}
