
.background{
    background-color: rgb(120, 121, 122);
    
    border-collapse: collapse;
    
}
.background:hover{
   background-image: none;
   background-image: url("https://cdn.dribbble.com/users/46095/screenshots/713018/biker.gif");

   
   
}
.image{
    width: 35%;
    height: 60%;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-left: 28rem;
    box-sizing: border-box;
    border: 2px solid rgb(28, 30, 31);
  
    margin-top: 4rem;
    
   
    
}

.image:hover {
    transform: scaleX(-1);
  }
h1{
    font-style: normal;
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color:black;
   
    font-weight: 900;
   
    font-family: 'Times New Roman', Times, serif;
    

}

.More{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 3px;
    color: rgb(37, 37, 145);
    background-color:rgb(25, 164, 189) ;
   font-family:'Times New Roman', Times, serif;
   font-weight: 800;
    border-radius: 2rem;
    margin-left: 40rem;
    margin-bottom: 5rem;
    

}
.welcomeleft{
    float: right;
    margin-top: 8rem;
    margin-right: 2rem;
    border: none;
}

