
<div >
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   

    <title>Home</title>

</head>
<body class="background">
    <div  >
        <img src="https://cdn.wallpapersafari.com/51/95/AOr7ZT.jpg" class="image">
        

    </div>
   <div class="container">
    <h1>Hey,,,Welcome To Our Website Browse Below for More</h1>
    <p>
        Explore our collection of high-quality used bikes and scooters. Whether you're looking for a reliable commuter or a stylish cruiser, we have a variety of options to suit your needs. All our vehicles go through thorough inspections to ensure they meet our quality standards.
      </p>
  
      <p>
        Don't miss out on the opportunity to own an affordable and well-maintained bike or scooter. Browse through our showroom below and find the perfect ride for your lifestyle.
      </p>
  
    <button class="More"><a href="/gallery">Click More</a></button>
</div>

    
</body>
</html>
</div>

