/* details.component.css */

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.details img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  margin-bottom: 20px;
}

#close {
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px;
  margin-right: 20px;
  align-self: flex-end;
  background-color: #fff;
  color: black;
  padding: 10px;
  border-radius: 1rem;
}

#close:hover {
  opacity: 0.75;
}

.buybutton {
  background-color: #25b32a;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  font-size: 14px;
  cursor: pointer;
}

.buybutton:hover {
  background-color: #0f7014;
}

@media screen and (max-width: 768px) {
  .config {
      margin-left: 2rem;
      margin-right: 2rem;
      align-items: center;
      justify-content: space-around;
  }

  #close {
      font-size: 18px;
      margin-top: 10px;
      margin-right: 10px;
  }

  .buybutton {
      font-size: 12px;
      padding: 10px 14px;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
  }
}
